{% extends "base.html" %}

{% block title %}Home | Vue Dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="app"></div>

<script id="page-data" type="application/json">
  {{ {
    "page_title": page_title,
    "breadcrumbs": breadcrumbs,
    "timestamp": timestamp,
    "flask_version": flask_version,
    "radar_chart": radar_chart,
  } | tojson }}
</script>

{% include "partials/vue-templates.html" %}

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="{{ url_for('static', filename='vue-app.js') }}"></script>
{% endblock %}
